name: taskflow
services:
  postgres:
    image: postgres:17
    container_name: taskflow-postgres
    restart: always
    volumes:
      - taskflow_pg:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: taskflow-redis
    restart: always

  prometheus:
    image: prom/prometheus:v2.53.0
    container_name: taskflow-prometheus
    restart: always

  grafana:
    image: grafana/grafana:11.1.0
    container_name: taskflow-grafana
    depends_on:
      - prometheus
    restart: always

  nginx:
    image: nginx:alpine
    container_name: taskflow-nginx
    restart: always

volumes:
  taskflow_pg:
