services:
  postgres:
    image: postgres:17
    container_name: taskflow-postgres
    environment:
      POSTGRES_USER: taskflow
      POSTGRES_PASSWORD: taskflow
      POSTGRES_DB: taskflow
    ports:
      - "5432:5432"
    volumes:
      - taskflow_pg:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: taskflow-redis
    ports:
      - "6379:6379"

volumes:
  taskflow_pg:
